//COLORS

//PRIMARY

$color-primary: #b79b6c;
$color-footer: #32353c;

//FONT COLORS
$color-text-1: #32353c;
$color-text-2: #f9f9f9;
$color-text-3: #6f6f6f;
$color-text-4: #6a707e;
$color-text-copyright: rgba(255, 255, 255, 0.71);


//FONTS
$font-primary: 'proxima-nova';

