.grid-container-1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 14vh 86vh;
    overflow-x: hidden;
    
  }
 
  .grid-container-2{
    height: 130vh;
    padding: 6rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 4rem;
    grid-template-rows: repeat(2, 1fr);
    overflow-x: hidden;
    
  }
