.grid-container-1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 14vh 86vh;
    overflow-x: hidden;
    
  }
//   .grid-container-2{
//     display: grid;
//     grid-template-columns: repeat(2, 1fr);
//     grid-template-rows: 14vh 86vh;
//     overflow-x: hidden;
    
//   }