.header {
  grid-column: 1/-1;
  grid-row: 1/2;
  z-index: 2;
  background-color: rgba(white, 0.43);
}

.navbar > * {
  margin-right: 3rem;
}

.navbar {
  &__link {
    text-decoration: none;
    color: $color-text-1;

    &--active{
      color: $color-primary;
    }
    &:hover{
      text-decoration: none;
      color: $color-primary;
    }
    &--bag {
      height: 40px;
      width: 40px;
      background-color: rgba(0, 0, 0, 0.06);
      border-radius: 100px;
      background-image: url("../images/bag.png");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 15px;
      position: relative;
      &::after {
        content: "0";
        background-color: #b79b6c;
        position: absolute;
        top: -6px;
        right: -5px;
        color: white;
        border-radius: 50%;
        display: block;
        height: 20px;
        width: 20px;
        text-align: center;
      }
    }
  }
  &__dropdown {
    width: 100px;

    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 0.5rem 1rem;
    appearance: none;
    border: none;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.06);
    background-image: url("../images/arrow-down.svg");
    background-repeat: no-repeat;
    background-position: right 1rem top 50%, 0 0;
  }
  &__icon {
    height: 15px;
    width: 15px;
  }
}
