.gallery{
    overflow-x: auto;
    margin-bottom: 10rem;
    &::-webkit-scrollbar {
        display: none;
      }
    &__item{
        display: block;
        min-width: 200px;
        height: 200px;
        margin-right: 1.5rem;
        
    }
}
