.newsletter {
  background-image: url(../images/bg@2x.jpg);
  background-size: cover;
  height: 70vh;
  margin-top: 10rem;

  &__description {
      font-size: 1.6rem;
      letter-spacing: 0.8px;
  }
  &__form {
    padding: 10rem 18rem;
    text-align: center;
    background-color: rgba(white, 0.9);
  }
  &__emailfield {
      padding: 1rem 15rem 1rem 1rem;
  }
  &__privacy {
      font-size: 1.4rem;
      letter-spacing: 0.5px;
  }
}
